/ACpracticas.code-workspace
/revisar
/ignore
sesion_12_HeatOpenMP/HeatClientServerOpenMPresuelto.zip
sesion_10_heatVS/HeatServer2022
sesion_10_db_gis/src/supervisord.log
sesion_10_db_gis/src/supervisord.pid
sesion_5_lazosSaltos/func.i
sesion_5_lazosSaltos/loop0.o
sesion_5_lazosSaltos/loop0.s
sesion_10_db_gis/ejemplo_html.html
pdfs/~$segmentacion avanzada.ppt
sesion_10_db_gis/src/supervisord-romero.log
